.cont{
    display: flex;
    justify-content: center;
    margin: 80px;
}
.part-2{
    align-self: center;
    margin-left: 100px;
    text-align: center;
}
.hd{
    font-size: 32px;
    color: green;
    font-weight: 400;
}
button{
    padding: 10px 15px;
    background-color: white;
    color: green;
    border-radius: 10px;
    border: 2px solid green;
    font-size: 12px;
    cursor: pointer;
    font-weight: 700;
}
button:hover {
    background-color: #c2ecc3
}

button:active {
  background-color: #92e495;
  box-shadow: 1px 2px 1px rgb(164, 152, 152);
  transform: translateY(4px);
}

